<div class="flex flex-col w-full" [formGroup]="form">
    <div class="card flex w-full justify-content-center">
        <p-accordion [multiple]="true" [activeIndex]="[0,1,2]">
            <p-accordionTab [header]="'basic-info' | translate">
                <!-- <div class="card flex justify-content-center">
                    <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                        (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" maxFileSize="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">
                                    {{ file.name }} - {{ file.size }} bytes
                                </li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div> -->
                <div class="flex flex-col w-full space-y-5 pt-5">
                    <div class="flex space-x-5">
                        <div class="w-1/2">
                            <p-selectButton [options]="legalOptions" [formControl]="form.controls.isLegal"
                                optionLabel="label" optionValue="isLegal" />
                        </div>
                        <div class="w-1/2">
                            <p-selectButton [options]="genderOptions" [formControl]="form.controls.genderEnum"
                                optionLabel="label" optionValue="genderValue" />
                        </div>

                    </div>
                    <div class="flex space-x-5">
                        <div class="flex flex-col space-y-2 w-1/2">
                            <label for="FirstName">{{'person.firstName' | translate}}</label>
                            <input pInputText id="firstName" [formControl]="form.controls.firstName" />

                        </div>
                        <div class=" flex flex-col space-y-2 w-1/2">
                            <label for="LastName">{{'person.lastName' | translate}}</label>
                            <input pInputText id="lastName" [formControl]="form.controls.lastName" />
                        </div>
                    </div>
                    <div class="flex space-x-5">
                        <div class=" flex flex-col space-y-2 w-1/2">
                            <label for="SSN">{{'person.ssn' | translate}}</label>
                            <input pInputText id="ssn" [formControl]="form.controls.ssn" />
                        </div>
                        <div class=" flex flex-col space-y-2 w-1/2">
                            <label for="birth_date">{{'person.birthDate' | translate}}</label>
                            <p-calendar [formControl]="form.controls.birthDate" inputId="birth_date" />
                        </div>
                    </div>
                    <div class="flex space-x-5">

                    </div>

                </div>
            </p-accordionTab>
            <p-accordionTab [header]="'other-info' | translate">
                <div class="flex space-x-5">
                    <app-extended-fields [tableName]="tableName" [(values)]="extendedFieldsValue"></app-extended-fields>
                </div>
            </p-accordionTab>
            <p-accordionTab [header]="'contact-info' | translate">
                <div class="flex flex-col w-full space-y-5 pt-5">
                    <div formArrayName="mobiles">
                        @for (mobile of form.controls.mobiles.controls; track $index) {
                        <div class="flex space-x-5 items-end">
                            <div class=" flex flex-col space-y-2 w-52">
                                <p-dropdown [options]="mobileTypes" [formControl]="mobile.get('type')"
                                    optionLabel="name" optionValue="value" placeholder="Select Location Type" />
                            </div>
                            <div class=" flex flex-col space-y-2">
                                <p-floatlabel variant="on">
                                    <input pInputText id="on_label" [formControl]="mobile.get('phoneNumber')"
                                        autocomplete="off" />
                                    <label for="on_label">{{'person.mobile' | translate}}</label>
                                </p-floatlabel>
                            </div>
                            <div>
                                <p-button icon="pi pi-trash" [text]="true" [severity]="'danger'" />
                            </div>
                        </div>
                        }
                    </div>
                    <div class="flex">
                        <p-button (click)=addMobile() [label]="'admin.add-phone' | translate" icon="pi pi-plus-circle"
                            [text]="true" severity="secondary" />
                    </div>

                    <div class="flex space-x-5 ">
                        <div class=" flex flex-col space-y-2 w-1/2">
                            <label for="Email">{{'person.email' | translate}}</label>
                            <input pInputText id="person.email" type="email" [formControl]="form.controls.email"
                                [ngClass]="{'ng-invalid ng-dirty': form.controls.email.dirty && form.controls.email.invalid}" />
                        </div>
                    </div>

                    <div formArrayName="adddress">
                        @for (address of form.controls.personAddresses.controls; track $index) {
                        <div class="flex space-x-5 items-end">
                            <div class=" flex flex-col space-y-2 w-52">
                                <p-dropdown [options]="location" [formControl]="address.get('type')" optionLabel="name"
                                    placeholder="Select Location Type" />
                            </div>
                            <div class=" flex flex-col space-y-2">
                                <p-floatlabel variant="on">
                                    <input pInputText id="on_label" [formControl]="address.get('addressLine')"
                                        autocomplete="off" />
                                    <label for="on_label">{{'person.address' | translate}}</label>
                                </p-floatlabel>
                            </div>
                            <div>
                                <p-button icon="pi pi-trash" [text]="true" [severity]="'danger'" />
                            </div>
                        </div>
                        }
                    </div>


                    <div class="flex">
                        <p-button (click)="addAddress()" [label]="'admin.add-address' | translate"
                            icon="pi pi-plus-circle" [text]="true" severity="secondary" />
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>

</div>