<div class="main-container">
    <!-- Toolbar -->
    <p-toolbar class="toolbar shadow">
        <ng-template #start>
            <p-button *ngIf="isMobile" type="button" icon="pi pi-bars" variant="text"
                (click)="toggleDrawer()"></p-button>
            <p-button *ngIf="!isMobile" type="button" icon="pi pi-bars" variant="text"
                (click)="toggleCompact()"></p-button>
            <img src="svgs/logo.svg" class="mr-2 size-10">
            <span class="app-title">Allin</span>
        </ng-template>
        <ng-template #center>

        </ng-template>
        <ng-template #end>
            <p-button type="button" class="me-2" icon="pi pi-expand" variant="text" [rounded]="true"
                severity="secondary"></p-button>

            <p-button type="button" class="me-2" icon="pi pi-bell" variant="text" [rounded]="true"
                severity="secondary"></p-button>
            <p-button type="button" class="me-2" icon="pi pi-cog" variant="text" [rounded]="true"
                severity="secondary"></p-button>
            <p-togglebutton (onChange)="darkChanged($event)" [(ngModel)]="dark" offIcon="pi pi-moon" onIcon="pi pi-sun"
                onLabel="Light" offLabel="Dark" styleClass="w-24" />
        </ng-template>
    </p-toolbar>

    <!-- Sidebar Menu -->
    <!-- <p-drawer [(visible)]="mobileMenuVisible" [modal]="true" [position]="'left'" *ngIf="isMobile">
        <div *ngFor="let item of menuItems" class="menu-item" (onItemSelected)="openTab(item)">
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
        </div>
    </p-drawer> -->

    <div class="main-content">
        <div class="menu-panel" *ngIf="!isMobile">
            <app-menu [menuItems]="menuItems" (onItemSelected)="openTab($event)"></app-menu>

        </div>

        <!-- Content Area -->
        <div class="content-area">

            <p-tabs [value]="activeTab">
                <p-tablist>
                    @for (tab of openedTabs; track tab.routerLink) {
                    <p-tab class="tab-header" [value]="tab.routerLink">
                        <i class="material-symbols-outlined mr-4">{{tab.icon}}</i>
                        {{ tab.label }}

                        <p-button type="button" class="me-2" icon="pi pi-times" variant="text" [rounded]="true"
                            severity="secondary"></p-button>
                    </p-tab>
                    }
                </p-tablist>
                <p-tabpanels>
                    @for (tab of openedTabs; track tab.routerLink) {
                    <p-tabpanel [value]="tab.routerLink">
                        <router-outlet></router-outlet>
                    </p-tabpanel>
                    }
                </p-tabpanels>
            </p-tabs>

        </div>
    </div>
</div>