<div class="flex h-full">
    <!-- Sidebar -->
    <aside class="flex-none menu-background" [class.compact]="isCompact">
        <header class="border-b">
            <p-toolbar class="toolbar">
                <ng-template #start>
                    <img src="svgs/logo.svg" class="mx-3 size-10">
                    <h4 *ngIf="!isCompact" class="app-title m-0">Allin</h4>
                </ng-template>
            </p-toolbar>
        </header>


        <app-menu [menuItems]="menuItems" [compact]="isCompact" (onItemSelected)="openTab($event)"></app-menu>
    </aside>

    <!-- Main Content -->
    <div class="flex flex-col flex-grow">

        <!-- Toolbar -->
        <header class="flex-none border-b">
            <p-toolbar class="toolbar ">
                <ng-template #start>
                    <p-button class="me-2" type="button" icon="pi pi-bars" variant="text"
                        (click)="toggleDrawer()"></p-button>
                </ng-template>
                <ng-template #center>

                </ng-template>
                <ng-template #end>
                    <i class="pi pi-expand mx-4" style="font-size: 1.25rem"></i>

                    <p-overlaybadge value="2" class="mx-4">
                        <i class="pi pi-bell" style="font-size: 1.25rem"></i>
                    </p-overlaybadge>

                    <i class="pi pi-cog mx-4" style="font-size: 1.25rem"></i>

                    <p-toggleswitch (onChange)="darkChanged($event)" [(ngModel)]="dark" class="ms-2" />
                    <i *ngIf="!dark" class="pi pi-sun mx-2"></i>
                    <i *ngIf="dark" class="pi pi-moon mx-2"></i>

                </ng-template>
            </p-toolbar>
        </header>

        <!-- Main Content Area -->
        <main class="flex flex-grow h-full overflow-hidden">
            <p-tabs [value]="activeTab" class="flex-grow">
                <p-tablist>
                    @for (tab of openedTabs; track tab.routerLink) {
                    <p-tab class="tab-header" [value]="tab.routerLink">
                        <i class="material-symbols-outlined mr-4">{{tab.icon}}</i>
                        {{ tab.label }}

                        <p-button type="button" class="me-2" icon="pi pi-times" variant="text" [rounded]="true"
                            severity="secondary"></p-button>
                    </p-tab>
                    }
                </p-tablist>
                <p-tabpanels>
                    @for (tab of openedTabs; track tab.routerLink) {
                    <p-tabpanel [value]="tab.routerLink">
                        <router-outlet></router-outlet>
                    </p-tabpanel>
                    }
                </p-tabpanels>
            </p-tabs>
        </main>
    </div>
</div>





<!-- Sidebar Menu -->
<!-- <p-drawer [(visible)]="mobileMenuVisible" [modal]="true" [position]="'left'" *ngIf="isMobile">
        <div *ngFor="let item of menuItems" class="menu-item" (onItemSelected)="openTab(item)">
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
        </div>
    </p-drawer> -->