.toolbar {
    --p-toolbar-border-color: transparent;
    --p-toolbar-border-radius: 0;
    --p-toolbar-background: transparent;
}

aside {
    overflow: visible;
    width: var(--side-menu-width);

    &.compact {
        width: var(--side-menu-compact-width);
    }
}

header {
    z-index: 500;
}

.tab-header {
    --p-tabs-tab-padding: 0.5rem .25rem 0.5rem 1rem;
}