<!-- @if(config.showModalHeader){
<div mat-dialog-title [ngClass]="config.headerCssClasses" class="text-primary-contrast-500">
    <span>
        {{config.title}}
    </span>
</div>
} -->
<div mat-dialog-content class="mt-3">
    @if(config.contentAreaTemplate) {
    <ng-container *ngTemplateOutlet="config.contentAreaTemplate;context:{ $implicit: config.extraData }">
    </ng-container>
    }
    @else {
    <p [ngClass]="config.messageCssClasses">{{config.message}}</p>
    }
</div>

<mat-dialog-actions class="flex" *ngIf="config.showModalFooter">
    @if(config.actionAreaTemplate){
    <ng-container *ngTemplateOutlet="config.actionAreaTemplate;context:{ $implicit: config.extraData }">
    </ng-container>
    }
    @else{
    <button mat-button type="button" mat-dialog-close (click)="onDismiss()"
        class="ml-auto">{{config.secondaryActionButtonConfigs!.title}}</button>
    <button mat-raised-button type="button" [color]="config.mainActionButtonConfigs?.color" [mat-dialog-close]="true"
        (click)="onConfirm()" [disabled]="config.mainButtonDisabled?.()"
        cdkFocusInitial>{{config.mainActionButtonConfigs!.title}}</button>
    }

</mat-dialog-actions>