<div>
    @if(config.contentAreaTemplate) {
    <ng-container *ngTemplateOutlet="config.contentAreaTemplate;context:{ $implicit: config.extraData }">
    </ng-container>
    }
    @else {
    <p [ngClass]="config.messageCssClasses">{{config.message}}</p>
    }
</div>

<footer class="flex">

    @if(config.actionAreaTemplate){
    <ng-container *ngTemplateOutlet="config.actionAreaTemplate;context:{ $implicit: config.extraData }">
    </ng-container>
    }
    @else{
    <p-button type="button" (click)="onDismiss()" [label]="config.secondaryActionButtonConfigs!.title"
        [severity]="config.secondaryActionButtonConfigs?.color" class="ml-auto mr-2" />

    <p-button type="button" [severity]="config.mainActionButtonConfigs?.color" [raised]="true"
        [label]="config.mainActionButtonConfigs!.title" (click)="onConfirm()"
        [disabled]="config.mainButtonDisabled?.()" />

    }

</footer>