<app-page-content [isLoading]="isLoading">

    <ng-container toolbar>
        <div class="p-toolbar-group-end ">
            <p-selectbutton [options]="stateOptions" [(ngModel)]="selectedShowType" optionLabel="label"
                optionValue="value" aria-labelledby="basic">
                <ng-template #item let-item>
                    <i [class]="item.icon"> {{item.label}}</i>
                </ng-template>
            </p-selectbutton>
        </div>

    </ng-container>
    <div class="h-full w-full flex-nowrap flex-grow ">


        @if(selectedShowType=="chart"){
        <app-department-chart [data]="departments"></app-department-chart>
        }
        @else if(selectedShowType=="grid"){
        <app-department-grid [data]="departments"></app-department-grid>
        }


    </div>


</app-page-content>