<app-page-content [isLoading]="isLoading" [blockUI]="true">

    <ng-container toolbar-start>
        <p-selectbutton [options]="stateOptions" [(ngModel)]="selectedShowType" optionLabel="label" optionValue="value" aria-labelledby="basic">
            <ng-template #item let-item>
                <i [class]="item.icon"> {{item.label}}</i>
            </ng-template>
        </p-selectbutton>

    </ng-container>


    @if(selectedShowType=="chart"){
    <app-department-chart [data]="departments" (onAddChildClick)="openAdd($event)" (onEditClick)="openEdit($event)"
        (onDeleteClick)="deleteItem($event)"></app-department-chart>
    }
    @else if(selectedShowType=="grid"){
    <app-department-grid [data]="departments" (onAddChildClick)="openAdd($event)" (onEditClick)="openEdit($event)"
        (onDeleteClick)="deleteItem($event)"></app-department-grid>
    }



</app-page-content>