<form [formGroup]="form">
    <div formArrayName="fields" class="grid grid-cols-2 gap-4">
        @for (ctl of fieldsForm.controls; track $index) {
        <div>
            <label>{{getField($index).fieldName}}</label>
            @if(getField($index).uiControl==UIControlEnum.Text){
            <input type="text" pInputText [formControl]="ctl.get('value') | formControl" />
            }
            @else if(getField($index).uiControl==UIControlEnum.ToggleSwitch){
            <p-toggleswitch [formControl]="ctl.get('value') | formControl" />
            }
            @else if(getField($index).uiControl==UIControlEnum.Number){
            <p-inputnumber [formControl]="ctl.get('value') | formControl" mode="decimal" inputId="withoutgrouping" />
            }
        </div>

        }
    </div>
</form>