<form [formGroup]="form">
    <div formArrayName="fields" class="grid grid-cols-2 gap-4">

        @for (field of fields; track $index) {
        <div>
            <label>{{field.fieldName}}</label>
            @if(field.uiControl==UIControlEnum.Text){
            <input type="text" pInputText [formControlName]="$index" />
            }
            @else if(field.uiControl==UIControlEnum.ToggleSwitch){
            <p-toggleswitch [formControlName]="$index" />
            }
            @else if(field.uiControl==UIControlEnum.Number){
            <p-inputnumber [formControlName]="$index" mode="decimal" inputId="withoutgrouping" />
            }
        </div>

        }
    </div>
</form>