<form class="flex flex-col w-full" [formGroup]="form">
    <div class="card flex w-full justify-content-center ">
        <p-accordion [multiple]="true" [activeIndex]="[0,1]">
            <p-accordionTab [header]="'basic-info' | translate">
                <div class="flex flex-col w-full space-y-5 pt-5">
                    <div class="flex space-x-5 ">
                        <div class=" flex flex-col space-y-2 w-1/2">
                            <label for="EmployeeCode">{{'employee.employee-code' | translate}} </label>
                            <input pInputText id="employeeCode" [formControl]="form.controls.employeeCode" />
                        </div>
                        <div class=" flex flex-col space-y-2 w-1/2">
                            <label for="EmploymentDate">{{'employee.employment-date' | translate}}</label>
                            <p-calendar [formControl]="form.controls.employmentDate" inputId="employmentDate" />
                        </div>
                    </div>
                    <div class="flex space-x-5">
                        <div class=" flex flex-col space-y-2 w-1/2">
                            <label for="TypeOfPresence">{{'employee.type-of-presence' | translate}}e</label>
                            <p-selectButton [options]="floatingOptions" [formControl]="form.controls.floating"
                                optionLabel="label" optionValue="value2" />
                        </div>
                        <div class=" flex flex-col space-y-2 w-1/2">
                            <label for="LeaveDate">{{'employee.leave-date' | translate}}</label>
                            <p-calendar [formControl]="form.controls.employmentDate" inputId="leaveDate" />
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab [header]="'other-info' | translate">

                <app-extended-fields [tableName]="tableName" [(values)]="extendedFieldsValue"></app-extended-fields>

            </p-accordionTab>
        </p-accordion>
    </div>

</form>