<app-page-content [isLoading]="false">

    <ng-container toolbar>
        <div class="p-toolbar-group-end ">
            <p-button [label]="'admin.create-role' | translate" icon="pi pi-plus" class="mr-2" (onClick)="openAdd()" />
        </div>
    </ng-container>
    <div class="flex flex-col h-full">

        <div class="pt-2 h-full">
            <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #header>
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th>uniqueName</th>
                    </tr>
                </ng-template>
                <ng-template #body let-product>
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.title }}</td>
                        <td>{{ product.uniqueName }}</td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


</app-page-content>