<form class="flex flex-col w-full px-5 space-y-2" [formGroup]="form">

    <div class="flex space-x-5 pt-5">
        <div class=" flex flex-col space-y-2 w-1/2">
            <label for="RoleTitle">{{'role.title' | translate}} </label>
            <input pInputText id="roleTitle" [formControl]="form.controls.title" />
        </div>
        <div class=" flex flex-col space-y-2 w-1/2">
            <label for="EmploymentDate">{{'role.department' | translate}}</label>
            <p-treeselect class="md:w-80 w-full" containerStyleClass="w-full" formControlName="selectedNodes" [options]="departments" placeholder="Select Department" [formControl]="form.controls.department" />
        </div>
    </div>
    <div class="flex flex-col space-y-2 w-full ">
        <label for="Description">{{'role.description' | translate}} </label>
        <input pInputText id="description" [formControl]="form.controls.description" />
    </div>

    <div class="pt-2 h-full">
        <p-tree [value]="permissions" selectionMode="checkbox" styleClass="w-full md:w-[30rem]" [(selection)]="selectedPermissions" />
    </div>
</form>