p-tree {
    --p-tree-node-gap: 0.5rem;


}

::ng-deep .p-tree-node-label {
    border: 1px solid var(--p-divider-border-color);
    border-radius: 5px;
    padding: .5rem 1rem;
    display: block;
    width: 100%;
}