<app-page-content [isLoading]="isLoading">

    <ng-container toolbar>
        <div class="p-toolbar-group-end ">
            <p-button [label]="'admin.create-user' | translate" icon="pi pi-plus" class="mr-2"
                (onClick)="openAddUser()" />
        </div>
    </ng-container>
    <div class="flex flex-col h-full">
        <p-message [closable]="false">
            {{'admin.user.msg1' | translate}}
        </p-message>

        <div class="pt-2 h-full">
            <app-png-table [columns]="columns" [dataSource]="customers" [isRowExapandable]="true"
                (onRowExpand)="loadInnerData($event)">

                <div custom-filters>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"
                        placeholder="Select a City" />
                </div>

                <ng-template let-rowData templateForColumn="countryColumnTemplate">
                    <img src="https://flagicons.lipis.dev/flags/4x3/{{rowData.country.code}}.svg" style="width: 20px" />
                    <span class="ml-1 vertical-align-middle">{{ rowData.country.name }}</span>
                </ng-template>

                <ng-template let-rowData templateForColumn="statusColumnTemplate">
                    <p-tag [value]="rowData.status" [severity]="getSeverity(rowData.status)" />
                </ng-template>

                <ng-template #expandedRow let-rowData="rowData">
                    <div expanded-row>
                        <div> Here is expanded Area of the row:</div>
                        Row Data: {{ rowData | json }}
                    </div>
                </ng-template>
            </app-png-table>
        </div>
    </div>


</app-page-content>