<p-table #datatable [value]="_dataSource" dataKey="id" [rows]="10" [rowHover]="true" stripedRows [rowsPerPageOptions]="configOptions.rowsPerPageOptions"
    [loading]="loading" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [scrollable]="true" scrollHeight="100%" [globalFilterFields]="getGlobalFilterable" sortMode="multiple" [multiSortMeta]=""
    [lazy]="this.configOptions.internaLoadFetch" [tableStyle]="{ 'min-width': '75rem' }" (onLazyLoad)="getDataFromServer()" [expandedRowKeys]="expandedRows"
    (onRowExpand)="rowExpand($event)" (onRowCollapse)="rowCollapse($event)" (onPage)="pageChanged($event)" (onFilter)="filterChanged($event)">
    <ng-template pTemplate="caption">
        <div class="flex items-center">

            <p-iconField iconPosition="left" class="ml-2">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="datatable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
            </p-iconField>

            <div class="px-2">
                <ng-content select="[custom-filters]"></ng-content>
            </div>

            <div class="ml-auto">
                @if (configOptions.toolbarOptions.showToolbar) {
                <div class="p-toolbar-group-end">
                    <p-button icon="pi pi-filter" [outlined]="true" severity="secondary" class="mr-2" />
                    <!-- <p-button icon="pi pi-filter-slash" severity="secondary" [outlined]="true" class="mr-2"
                            (onClick)="clear(datatable)" /> -->
                    <p-button icon="pi pi-print" [outlined]="true" severity="secondary" class="mr-2" />
                    <p-button icon="pi pi-file-export" [outlined]="true" severity="secondary" class="mr-2" />
                    <p-button icon="pi pi-cog" [outlined]="true" severity="secondary" class="mr-2" />
                    <p-button *ngIf="configOptions.internaLoadFetch" (onClick)="getDataFromServer()" icon="pi pi-refresh" [outlined]="true" severity="secondary"
                        class="mr-2" />
                </div>
                }

            </div>
        </div>
        @if(currentFilters.length>0){
        <c-data-table-filters-header [filters]="currentFilters" (filtersChanged)="onHeaderFiltersChanged($event)">
        </c-data-table-filters-header>
        }

    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            @if(isRowExapandable){
            <th style="width: 5rem"> </th>
            }
            @if(isRowselectable){
            <th style="width: 4rem">
                <p-tableHeaderCheckbox />
            </th>
            }
            @for (column of columns; track $index) {
            <th style="min-width:15rem" [pSortableColumn]="column.fieldName">
                <div class="flex items-center">
                    {{column.title}}
                    <p-sortIcon *ngIf="configOptions.sortable" [field]="column.fieldName" />

                    <div class="flex-grow"></div>
                    @if(column.filterOptions.filterable && configOptions.filterable){

                    @if (column.filterOptions.filterControl== filterControlEnum.DropDown) {
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="(((column | as : tableDropDownColumn).itemsSource.items) | observableOrArray  | async)!"
                            placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                        </p-multiSelect>
                    </ng-template>
                    }
                    @else if (column.filterOptions.filterControl== filterControlEnum.checkBox) {

                    }
                    @else if (column.filterOptions.filterControl== filterControlEnum.FromTo) {

                    }
                    @else if (column.filterOptions.filterControl== filterControlEnum.Slider) {

                    }
                    @else {
                    <p-columnFilter type="text" [field]="column.fieldName" placeholder="Search by name" display="menu" />
                    }

                    }
                </div>
            </th>
            }
        </tr>
        <!-- <tr>
            @for (column of columns; track $index) {
            
            }
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex let-expanded="expanded">
        <tr [pSelectableRow]="rowData">
            @if(isRowExapandable){
            <td>
                <p-button type="button" pRipple [pRowToggler]="rowData" [text]="true" [rounded]="true" [plain]="true"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            }

            @if(isRowselectable){
            <td>
                <p-tableCheckbox [value]="rowData" />
            </td>
            }

            <td *ngFor="let col of columns">

                @if(col.templateRefId){
                <ng-container *ngTemplateOutlet="this.getColumnTemplate(col.templateRefId);context:{ $implicit: rowData, index: rowIndex, col: col }">
                </ng-container>
                }
                @else if(col.fieldType== fieldTypesEnum.Boolean){
                @let boolCol = col | as: tableBooleanColumn;
                <i class="pi" *ngIf="boolCol.displayStyle==booleanColumnDisplayEnum.CheckCloseColorfull"
                    [ngClass]="{ 'text-green-500 pi-check-circle':  rowData[col.fieldName], 'text-red-500 pi-times-circle': !rowData[col.fieldName] }"></i>
                <i class="pi" *ngIf="boolCol.displayStyle==booleanColumnDisplayEnum.CheckCloseNoColor"
                    [ngClass]="{ 'pi-check-circle':  rowData[col.fieldName], 'pi-times-circle': !rowData[col.fieldName] }"></i>

                <i class="pi" *ngIf="boolCol.displayStyle==booleanColumnDisplayEnum.OnlyCheckColorFull"
                    [ngClass]="{ 'text-green-500 pi-check-circle':  rowData[col.fieldName] }"></i>
                <i class="pi" *ngIf="boolCol.displayStyle==booleanColumnDisplayEnum.OnlyCheckNoColor"
                    [ngClass]="{ 'text-green-500 pi-check-circle':  rowData[col.fieldName] }"></i>

                <i class="pi" *ngIf="boolCol.displayStyle==booleanColumnDisplayEnum.OnlyCloseColorFull"
                    [ngClass]="{ 'text-red-500 pi-times-circle': !rowData[col.fieldName] }"></i>
                <i class="pi" *ngIf="boolCol.displayStyle==booleanColumnDisplayEnum.OnlyCloseNoColor"
                    [ngClass]="{ 'pi-times-circle': !rowData[col.fieldName] }"></i>

                <p-checkbox *ngIf="boolCol.displayStyle==booleanColumnDisplayEnum.Checkbox" readonly binary="true" [(ngModel)]="rowData[col.fieldName]" />
                }
                @else{
                {{ rowData[col.fieldName] }}
                }

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">{{emptymMessage}}</td>
        </tr>
    </ng-template>
    <ng-template #expandedrow let-rowData let-rowIndex>
        <tr>
            <td colspan="7">
                <ng-container *ngTemplateOutlet="contentTemplate; context: { rowData: rowData, rowIndex: rowIndex }">
                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>