<!-- نمونه کد درگ دراپ -->

<!-- <form class="flex flex-col w-full" [formGroup]="form">
    <div class="card flex flex-col w-full justify-content-center px-5">

        <div class="compo" pDraggable="ouch" *ngFor="let block of selectedCities; let indu = index" (onDragStart)="dragStart(block, indu)" (onDragEnd)="dragEnd()" pDroppable="ouch" (onDrop)="drop($event, indu)">
            <div class="flex space-x-5 pt-5">
                <div class=" flex flex-col space-y-2">
                    <p-floatlabel variant="on">
                        <input pInputText id="on_label" [formControl]="form.controls.title.get('phoneNumber')  | formControl" autocomplete="off" />
                        <label for="on_label">{{'inventory.packing.title' | translate}}</label>
                    </p-floatlabel>
                </div>
                <div class=" flex flex-col space-y-2">
                    <p-select [options]="levels" [(ngModel)]="selectedLevel" optionLabel="name" placeholder="Select a Level" class="w-full md:w-56" appendTo="body" id="levelCode" [formControl]="form.controls.type" (onChange)="onSelectLevel()" />
                </div>
                <div>
                    <p-button icon="pi pi-trash" [text]="true" [severity]="'danger'" />
                </div>
            </div>

        </div>
        <div class="flex justify-center">
            <p-button [label]="'inventory.category.add-property-Item' | translate" icon="pi pi-plus-circle" class="mr-2" (onClick)="addItem()" />
        </div>
    </div>

</form> -->